<%= render 'facilities/nav' %>
<h1 style="text-align: center; margin-top: 50px; margin-bottom: -30px; font-weight: bold">Editing User Account Info</h1>

<div id="index-main">
	<div class="edit-form">
		<%= render 'form' %>
	</div>
</div>