<div class="coordinate-error hide">
  <div class="ballon alert alert-warning clearfix">
    <div class="pull-left">
      Your location setting is OFF.
    </div>
    <div class="pull-right">
      <%= image_tag('loading.gif', class: 'loading hide') %>
      <button type="button" class="btn btn-warning">Share location</button>
    </div>
  </div>
</div>
