<!-- <%= render 'facilities/nav' %> -->
<h1 style="text-align: center">Crisis Line</h1>
<br>
<div class="container">
  <ul class="list-crisis-line">
    <li class="crisis-line">
      <a class="no-underline" href=#>
        <div class="facility-block">
          <div class= "facility-block-name"><strong>Crisis Line 1</strong></div>
          <p>The Crisis Line 1 Services provide confidential, non-judgemental, free emotional support, 24 hours a day, 7 days a week, for people experienceing feelings of distress or despair.</p>
        </div>
      </a>
      <br>
      <a href="tel:778-388-3456">
        604-232-2222
      </a>
    </li>
    <hr>
    <li class="crisis-line">
      <a class="no-underline" href=#>
        <div class="facility-block">
          <div class= "facility-block-name"><strong>Crisis Line 2</strong></div>
          <p>The Crisis Line 1 Services provide confidential, non-judgemental, free emotional support, 24 hours a day, 7 days a week, for people experienceing feelings of distress or despair.</p>
        </div>
      </a>
    </li>
    <hr>
    <li class="crisis-line">
      <a class="no-underline" href=#>
        <div class="facility-block">
          <div class= "facility-block-name"><strong>Crisis Line 3</strong></div>
          <p>The Crisis Line 1 Services provide confidential, non-judgemental, free emotional support, 24 hours a day, 7 days a week, for people experienceing feelings of distress or despair.</p>
        </div>
      </a>
    </li>
    <hr>
    <li class="crisis-line">
      <a class="no-underline" href=#>
        <div class="facility-block">
          <div class= "facility-block-name"><strong>Crisis Line 4</strong></div>
          <p>The Crisis Line 1 Services provide confidential, non-judgemental, free emotional support, 24 hours a day, 7 days a week, for people experienceing feelings of distress or despair.</p>
        </div>
      </a>
    </li>
    <hr>
    <li class="crisis-line">
      <a class="no-underline" href=#>
        <div class="facility-block">
          <div class= "facility-block-name"><strong>Crisis Line 5</strong></div>
          <p>The Crisis Line 1 Services provide confidential, non-judgemental, free emotional support, 24 hours a day, 7 days a week, for people experienceing feelings of distress or despair.</p>
        </div>
      </a>
    </li>
    <hr>
  </ul>
</div>
