 <%= render 'facilities/nav' %>
<h1 style="text-align: center; margin-top: 50px; font-weight: bold">Crisis Lines</h1>
<br>
<div class="container">
  <ul class="list-crisis-line">
    <li class="crisis-line">
      <a class="no-underline" href=#>
        <div class="facility-block">
          <div class= "facility-block-name"><strong>Vancouver Child and Youth Mental Health Referral Intake</strong></div>
          <p>For suicidal children and youth (18 & under) at risk to suicide.</p>
        </div>
      </a>
      <br>
      <a href="tel:+16047094111">
        604-709-4111
      </a>
    </li>
    <hr>
    <li class="crisis-line">
      <a class="no-underline" href=#>
        <div class="facility-block">
          <div class= "facility-block-name"><strong>VictimLink BC</strong></div>
          <p>A toll-free, confidential, multilingual telephone service available across BC and Yukon 24 hours a day, 7 days a week. It provides information and referral services to all victims of crime and immediate crisis support to victims of family and sexual violence, including victims of human trafficking exploited for labour or sexual services.</p>
        </div>
      </a>
      <br>
      <a href="tel:+18005630808">
        1-800-563-0808
      </a>
    </li>
    <hr>
    <li class="crisis-line">
      <a class="no-underline" href=#>
        <div class="facility-block">
          <div class= "facility-block-name"><strong>Province Wide Suicide Line Crisis 24 hours</strong></div>
          <p>The Crisis Centre has been providing emotional support to youth, adults and seniors in distress since 1969. As a safe place to turn when there seems to be no hope, the Crisis Centre is operated by 450+ frontline volunteers and a small team of professional staff who support and empower individuals to see their own strengths and options, 24 hours a day, 7 days a week.  We work at the community level to provide education and training aimed at fostering resiliency and building capacity to respond to crisis and suicide.</p>
        </div>
      </a>
      <br>
      <a href="tel:+18007842433">
        1-800-SUICIDE (1-800-784-2433)
      </a>

    </li>
    <hr>
    <li class="crisis-line">
      <a class="no-underline" href=#>
        <div class="facility-block">
          <div class= "facility-block-name"><strong> 310 Mental Health Support Line (province wide) Crisis 24 hours</strong></div>
          <p>For emotional support, information and resources specific to mental health. </p>
        </div>
      </a>
      <br>
      <a href="tel:+13106789">
        310-6789
      </a>
    </li>
    <hr>
    <li class="crisis-line">
        <div class="facility-block">
          <div class= "facility-block-name"><strong>Crisis Intervention & Suicide Prevention Centre of BC Crisis 24 hours</strong></div>
          <p>Serves Vancouver, North Vancouver city & district, Bowen Island, West Vancouver, Burnaby</p>
          <p> 763 East Broadway, Vancouver, BC V5T 1X8 </p>
        </div>
          <div class="youthinbc"><p>Also has online chat for youth: <a href="http://www.youthinbc.com">http://www.youthinbc.com</a></p></div>
      <br>
      <br>
      <a href="tel:+16048723311">
        604-872-3311
      </a> | 
      <a href="tel:+16048720113">
        TTY: 604-872-0113
      </a>
    </li>
    <hr>
    <li class="crisis-line">
      <a class="no-underline" href=#>
        <div class="facility-block">
          <div class= "facility-block-name"><strong> WAVAW (Women Against Violence Against Women) 24-Hour Crisis Line</strong></div>
          <p>WAVAW provides immediate emotional support 24 hours a day, 7 days a week, 365 days a year through our 24-Hour Crisis Line. Our toll-free, confidential Crisis Line is answered by empathetic and skilled support workers. Crisis Line support workers are there to listen, to provide non-judgmental support and if needed, to provide information on available counselling services or referrals to other community programs and organizations. All services are free and confidential.</p>
        </div>
      </a>
      <br>
      <a href="tel:+16042556344 ">
        604-255-6344 
      </a> |
      <a href="tel:+18773927583">
        Toll Free: 1-877-392-7583
      </a>
    </li>
    <hr>
    <li class="crisis-line">
      <a class="no-underline" href=#>
        <div class="facility-block">
          <div class= "facility-block-name"><strong>Trans Lifeline</strong></div>
          <p>This line is primarily for transgender people experiencing a crisis. This includes people who may be struggling with their gender identity and are not sure that they are transgender. While our goal is to prevent self-harm, we welcome the call of any transgender person in need. We will do our very best to connect them with services that can help them meet that need. If you are not sure whether you should call or not, then please call us.</p>
        </div>
      </a>
      <br>
      <a href="tel:+18773306366">
        Toll Free Anywhere in Canada: 1-877-330-6366
      </a>
    </li>
    <hr>
    <li class="crisis-line">
        <div class="facility-block">
          <div class= "facility-block-name"><strong>Vancouver Recovery Club</strong></div>
          <p>The Vancouver Recovery Club offers help, hope and services to alcoholics and addicts seeking relief and recovery from their addiction and disease. The Vancouver Recovery Club is open 24 hours a day, 7 days a week. Addiction never sleeps. We are always available.</p>
          <p> 2775 Sophia Street, Vancouver, BC V5T 3L1 </p>
        </div>
          <div class="youthinbc"><p>Please visit their website for more information: <a href="http://vancouverrecoveryclub.com">http://vancouverrecoveryclub.com</a></p></div>
      <br>
      <br>
      <a href="tel:+16047089955">
        604-708-9955
      </a>
    </li>
    <hr>
  </ul>
</div>
