<div class="clearfix">
  <div class="pull-right">
    <ul class="breadcrumb">
      <%= render_breadcrumbs :tag => :li, :separator => "" %>
    </ul>
  </div>
  <div class="pull-left">
    <a class="btn-back" href="javascript: history.go(-1)">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      Back
    </a>
  </div>
</div>
