	<nav role="navigation">

        <div class="nav-container">

					<a class="logo" href='/facilities'>
						<%= image_tag('test-logo.png') %>
		  		</a>

					<div class="search_bar">
						<form action="<%= search_bar_facilities_path %>" method="get" >
  						<%= text_field_tag :search, nil, placeholder: "Search Facilities" %>
  						<%= submit_tag "Search", :name => nil%>
						</form>
					</div>

        </div>


  </nav>
