<nav role="navigation">
	<div>

		<div class="container-nav-search">
  			<div class="btn-group btn-toggle"> 
  				<%= link_to "Back", root_path, class: 'btn btn-default' %>
  			</div>
		</div>


		<div class="nav-container">
			<a class="logo" href='/facilities'>
				<%= image_tag('test-logo.png') %>
			</a>
		</div>
	</div>
</nav>