	<nav role="navigation">

        <div class="nav-container" style="min-width:350px; height: 40px;">




						<form action="<%= search_bar_facilities_path %>" method="get" class="search-form" style="width: 280px; float: right; margin-top: 6px" >
							<%= text_field_tag :search, nil, placeholder: "Search Facilities" %>
							<%= submit_tag "Search", :name => nil, class: "top-search-btn"%>
						</form>

						<a class="logo" href='/facilities' style="margin-right: 30px; display: inline; float: right; width: 30px">
							<%= image_tag('test-logo.png') %>
			  		</a>

						<div class="pusher" style="float:left; min-width:300px; display:block; width: 50%"></div>


        </div>


  </nav>
