	<nav role="navigation">

        <div class="nav-container">




						<form action="<%= search_bar_facilities_path %>" method="get" class="search-form" style="width: 280px; float: right; margin-bottom: 0; position:relative; height: 50%;" >
							<%= text_field_tag :search, nil, placeholder: "Search Facilities" %>
							<%= submit_tag "Search", :name => nil%>
						</form>

						<a class="logo" href='/facilities' style="margin-right: 30px; display: inline; float: right; width: 30px">
							<%= image_tag('test-logo.png') %>
			  		</a>

						<div class="pusher" style="float:left; min-width:300px; display:block; width: 100%"></div>


        </div>


  </nav>
