	<nav role="navigation">
      <div>
        <div class="nav-container">
          <a class="logo" href='/facilities'>
				<%= image_tag('test-logo.png') %>
		  </a>
        </div>
      </div>
    </nav>
