	<nav role="navigation">

        <div class="nav-container">


						<form action="<%= search_bar_facilities_path %>" method="get" class="search-form" style="width: 280px; float: right; margin-top: 6px" >
							<%= submit_tag "SEARCH", :name => nil, class: "top-search-btn", style: "border-radius: 5px; float: right; margin-left: 5px;"%>
							<%= text_field_tag :search, nil, placeholder: "Search Facilities", style:
							"-webkit-border-radius: 5px;
							-moz-border-radius: 5px;
							border-radius: 5px;
							float: right;" %>

							
						</form>


						<a class="logo" href='/facilities' style="margin-right: 30px; display: inline; float: right; width: 30px">
							<%= image_tag('linkvan_horizontal.png') %>
			  		</a>

						<div class="pusher" style="float:left; min-width:300px; display:block; width: 50%"></div>


        </div>


  </nav>
