	<nav role="navigation">

        <div class="nav-container">
					<div class="search_bar">

						<a class="logo" href='/facilities'>
							<%= image_tag('test-logo.png') %>
			  		</a>

						<form action="<%= search_bar_facilities_path %>" method="get" class="search-form" >
							<%= text_field_tag :search, nil, placeholder: "Search Facilities" %>
							<%= submit_tag "SEARCH", :name => nil%>
						</form>
					</div>







        </div>


  </nav>
