<!--<h1>Directions</h1>
<div id="flat"><p>flat</p></div><br>
<div id="flong"><p>flong</p></div><br>
<div id="tlat"><p>tlat</p></div><br>
<div id="tlong"><p>tlong</p></div><br>-->

<%= render 'nav' %>

<div id="panel">
    <b>Mode of Travel: </b>
    <select id="mode" onchange="calcRoute();">
      <option value="WALKING">Walking</option>
      <option value="TRANSIT">Transit</option>
      <option value="BICYCLING">Bicycling</option>
      <option value="DRIVING">Driving</option>
    </select>
    </div>

      <div id="map-canvas-dir" style="width: 100%; height: 100%"></div>



<%= content_tag :div, class: "temp_information", data: {jsevent: @facility, jsulat: JSON.parse(cookies[:lat_lon])[0], jsulong: JSON.parse(cookies[:lat_lon])[1] } do %>
<% end %>

<script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script>
//Landmarks: Woodwards, Carnegie Centre, The 44 (Evelyne Saller), Oppenheimer Park, RayCam
//Woodwards: 49.2825437,-123.1085684
//Carnegie Centre: 49.280966,-123.099672
//The 44 (Evelyne Saller): 49.283799,-123.096927
//Oppenheimer Park: 49.2827075,-123.0954157
//RayCam: 49.281415,-123.083726
//'https://www.google.com/support/enterprise/static/geo/cdate/art/dots/blue_dot.png'

var jsevent = $('.temp_information').data('jsevent');
var directionsDisplay;
var directionsService = new google.maps.DirectionsService();
var flat = jsevent.lat;
var flong = jsevent.long;
var ulat = $('.temp_information').data('jsulat');
var ulong = $('.temp_information').data('jsulong');
var map, tlat, tlong, start, end;
var woodwards = new google.maps.LatLng(49.2825437, -123.1085684);
var carnegie = new google.maps.LatLng(49.280966, -123.099672);
var saller = new google.maps.LatLng(49.283799, -123.096927);
var oppenheimer = new google.maps.LatLng(49.2827075, -123.0954157);
var raycam = new google.maps.LatLng(49.281415, -123.083726);
var landmark = 'https://linkvan.herokuapp.com/assets/blue_dot-389fca422ef93e351134817e9c5b67d4.png';
var woodwardslandmark = 'https://linkvan.herokuapp.com/assets/woodward_marker-1496bd72f1b6cfe8285091f21f445279.png';
var carnegielandmark = 'https://linkvan.herokuapp.com/assets/carnegie_marker-d0cc46c1b6eaf99e478071e993a3a256.png';
var sallerlandmark = 'https://linkvan.herokuapp.com/assets/saller_marker-3b815fb050847f188c99866ab696f1a8.png';
var oppenheimerlandmark = 'https://linkvan.herokuapp.com/assets/oppenheimer_marker-2f34ab471c89ca261f7d9949312e342d.png';
var raycamlandmark = 'https://linkvan.herokuapp.com/assets/raycam_marker-3a80591adfb60c88a00f6eea0ac5bd2e.png';

var woodwardsmarker, carnegiemarker, sallermarker, oppenheimermarker, raycammarker;

function initialize() {
  directionsDisplay = new google.maps.DirectionsRenderer();
  start = new google.maps.LatLng(ulat, ulong);
  end = new google.maps.LatLng(flat, flong);

  var mapOptions = {
    zoom:10,
    center: start
  };
  map = new google.maps.Map(document.getElementById('map-canvas-dir'), mapOptions);

  woodwardsmarker = new google.maps.Marker({
    position: woodwards,
    map: map,
    icon: woodwardslandmark,
  });


  carnegiemarker = new google.maps.Marker({
    position: carnegie,
    map: map,
    icon: carnegielandmark,
  });

  sallermarker = new google.maps.Marker({
    position: saller,
    map: map,
    icon: sallerlandmark,
  });

  oppenheimermarker = new google.maps.Marker({
    position: oppenheimer,
    map: map,
    icon: oppenheimerlandmark,
  });

  raycammarker = new google.maps.Marker({
    position: raycam,
    map: map,
    icon: raycamlandmark,
  });

  directionsDisplay.setMap(map);

}//ends initialize

function calcRoute() {
  var zoom = map.getZoom(); 
  selectedMode = document.getElementById('mode').value;
  var request = {
      origin: start,
      destination: end,
      travelMode: google.maps.TravelMode[selectedMode]
  };
  directionsService.route(request, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    }
  });

  if (zoom <= 14) {
      woodwardsmarker.setMap(null);
      carnegiemarker.setMap(null);
      sallermarker.setMap(null);
      oppenheimermarker.setMap(null);
      raycammarker.setMap(null);
  } else {
      woodwardsmarker.setMap(map);
      carnegiemarker.setMap(map);
      sallermarker.setMap(map);
      oppenheimermarker.setMap(map);
      raycammarker.setMap(map);

  }
}


google.maps.event.addDomListener(window, 'load', initialize);

//click listener needed for map to appear
//google.maps.event.addDomListener(window, 'click', initialize);
//google.maps.event.clearListeners(window, 'click');
//clear click listener right after click

google.maps.event.addDomListener(window, 'load', calcRoute);

setTimeout(function(){
  google.maps.event.addListener(map, 'zoom_changed', function() {
    var zoom = map.getZoom(); //fully zoomed out = 0
    //var x = document.getElementById("map-marker-label")
    //alert(x.innerHTML);
    if (zoom <= 14) {
      woodwardsmarker.setMap(null);
      carnegiemarker.setMap(null);
      sallermarker.setMap(null);
      oppenheimermarker.setMap(null);
      raycammarker.setMap(null);
    } else {
      woodwardsmarker.setMap(map);
      carnegiemarker.setMap(map);
      sallermarker.setMap(map);
      oppenheimermarker.setMap(map);
      raycammarker.setMap(map);
  }
});
}, 2000);

</script>
