<%= render 'nav' %>
<div class="toggle-group-options">
<p class="prox-toggle"></p>
<p class="open-toggle"></p>
<div class="container-prox">
  <div class="btn-group btn-toggle">
    <h1 class="sortby-header">Sort By</h1>
    <button class="btn btn-primary active" id="near">Near</button>
    <button class="btn btn-default" id="name">Name</button>
  </div>
</div>

<div class="container-open">
  <div class="btn-group btn-toggle">
    <h1>Hours</h1>
    <button class="btn btn-primary active" id="yes">Yes</button>
    <button class="btn btn-default" id="no">No</button>
  </div>
</div>


</div>

<div id="index-main-options">
    <h1>Services</h1>
    <div id="services-div"></div>
    <h1>Suitable For</h1>
    <div id="suitable-div"></div>
    <h1>Welcomes</h1>
    <div id="welcomes-div"></div>
    <div id="search-div"></div>
</div>
<p id="demo"></p>

<div class="tog">
<p class="sortby-o" id="sortby-o"></p>
<p class="hours-o" id="hours-o"></p>
<p class="shelter-o" id="shelter-o"></p>
<p class="food-o" id="food-o"></p>
<p class="medical-o" id="medical-o"></p>
<p class="hygiene-o" id="hygiene-o"></p>
<p class="technology-o" id="technology-o"></p>
<p class="legal-o" id="legal-o"></p>
<p class="children-o" id="children-o"></p>
<p class="youth-o" id="youth-o"></p>
<p class="adults-o" id="adults-o"></p>
<p class="seniors-o" id="seniors-o"></p>
<p class="all-welcome-o" id="all-welcome-o"></p>
<p class="men-o" id="men-o"></p>
<p class="women-o" id="women-o"></p>
</div>


<script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script>
var sortby="&sortby=";
var hours="&hours=";
var services="&services=";
var suitable="&suitable=";
var welcome="&welcome=";

var allwelcomebtn = document.getElementById("all-welcome-btn");
var menwelcomebtn = document.getElementById("men-welcome-btn");
var womenwelcomebtn = document.getElementById("women-welcome-btn");

var sortbyid = document.getElementById("sortby-o");
var hoursid = document.getElementById("hours-o");
var shelterid = document.getElementById("shelter-o");
var foodid = document.getElementById("food-o");
var medicalid = document.getElementById("medical-o");
var hygieneid = document.getElementById("hygiene-o");
var technologyid = document.getElementById("technology-o");
var legalid = document.getElementById("legal-o");
var childrenid = document.getElementById("children-o");
var youthid = document.getElementById("youth-o");
var adultsid = document.getElementById("adults-o");
var seniorsid = document.getElementById("seniors-o");
var allwelcomeid = document.getElementById("all-welcome-o");
var menid = document.getElementById("men-o");
var womenid = document.getElementById("women-o");

sortbyid.style.display = 'block';
hoursid.style.display = 'block';
shelterid.style.display = 'block';
foodid.style.display = 'block';
medicalid.style.display = 'block';
hygieneid.style.display = 'block';
technologyid.style.display = 'block';
legalid.style.display = 'block';
childrenid.style.display = 'block';
youthid.style.display = 'block';
adultsid.style.display = 'block';
seniorsid.style.display = 'block';
allwelcomeid.style.display = 'block';
allwelcomeid.style.display = 'none';
menid.style.display = 'block';
womenid.style.display = 'block';

$('.prox').click(function() {
    $(this).find('.btn').toggleClass('active');
    $(this).find('.btn').toggleClass('btn-primary');
    $(this).find('.btn').toggleClass('btn-default');

    $('.sortby-o').toggle();

});

$('.open').click(function() {
    $(this).find('.btn').toggleClass('active');
    $(this).find('.btn').toggleClass('btn-primary');
    $(this).find('.btn').toggleClass('btn-default');

    $('.hours-o').toggle();


});


var latitude, longitude;

var x = document.getElementById("demo");

    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }

function showPosition(position) {
    latitude = position.coords.latitude;
    longitude = position.coords.longitude;
}

setTimeout(function(){

    //Create Shelter

    var divid = document.getElementById("services-div");
    var bshelter = document.createElement("button");
    var tshelter = document.createElement("p");
    tshelter.innerHTML = "Shelter";
    tshelter.setAttribute("class", "button-text");

    var shelterImg=document.createElement("i");
    shelterImg.setAttribute("class", "glyphicon glyphicon-home shelter-colour");

    bshelter.appendChild(shelterImg);
    bshelter.appendChild(tshelter);


    bshelter.setAttribute("class", "btn");
    bshelter.onclick = function() { // Note this is a function
        $( this ).toggleClass( "highlight" );
        $('.shelter-o').toggle();
    };

    divid.appendChild(bshelter);

//Create Food
    var bfood = document.createElement("button");
    var tfood = document.createElement("p");
    tfood.innerHTML = "Food"
    tfood.setAttribute("class", "button-text");

    var foodImg=document.createElement("i");
    foodImg.setAttribute("class", "glyphicon glyphicon-cutlery food-colour");


    bfood.appendChild(foodImg);
    bfood.appendChild(tfood);

    bfood.setAttribute("class", "btn");
    bfood.onclick = function() { // Note this is a function
        $( this ).toggleClass( "highlight" );
        $('.food-o').toggle();
    };

    divid.appendChild(bfood);

//Create Medical
     var bmedical = document.createElement("button");
    var tmedical = document.createElement("p");
    tmedical.innerHTML = "Medical"
    tmedical.setAttribute("class", "button-text");

    var medicalImg=document.createElement("i");
    medicalImg.setAttribute("class", "glyphicon glyphicon-heart-empty medical-colour");


    bmedical.appendChild(medicalImg);
    bmedical.appendChild(tmedical);

    bmedical.setAttribute("class", "btn");
    bmedical.onclick = function() { // Note this is a function
        $( this ).toggleClass( "highlight" );
        $('.medical-o').toggle();
    };

    divid.appendChild(bmedical);

//Create Hygiene
    var bhygiene = document.createElement("button");
    var thygiene = document.createElement("p");
    thygiene.innerHTML = "Hygiene"
    thygiene.setAttribute("class", "button-text");

    var hygieneImg=document.createElement("i");
    hygieneImg.setAttribute("class", "glyphicon glyphicon-tint hygiene-colour");

    bhygiene.appendChild(hygieneImg);
    bhygiene.appendChild(thygiene);

    bhygiene.setAttribute("class", "btn");
    bhygiene.onclick = function() { // Note this is a function
        $( this ).toggleClass( "highlight" );
        $('.hygiene-o').toggle();
    };

    divid.appendChild(bhygiene);

//Create Technology
    var btech = document.createElement("button");
    var ttech = document.createElement("p");
    ttech.innerHTML = "Technology"
    ttech.setAttribute("class", "button-text");

    var techImg=document.createElement("i");
    techImg.setAttribute("class", "glyphicon glyphicon-globe technology-colour");

    btech.appendChild(techImg);
    btech.appendChild(ttech);

    btech.setAttribute("class", "btn");
    btech.onclick = function() { // Note this is a function
        $( this ).toggleClass( "highlight" );
        $('.technology-o').toggle();
    };

    divid.appendChild(btech);

//Create Legal
    var blegal = document.createElement("button");
    var tlegal = document.createElement("p");
    tlegal.innerHTML = "Advocacy"
    tlegal.setAttribute("class", "button-text");

    var legalImg=document.createElement("i");
    legalImg.setAttribute("class", "glyphicon glyphicon-briefcase medical-colour");

    blegal.appendChild(legalImg);
    blegal.appendChild(tlegal);

    blegal.setAttribute("class", "btn");
    blegal.onclick = function() { // Note this is a function
        $( this ).toggleClass( "highlight" );
        $('.legal-o').toggle();
    };

    divid.appendChild(blegal);

//Create Suitable-Children button
    var suitabledivid = document.getElementById("suitable-div");

    var bchildren = document.createElement("button");
    var tchildren = document.createTextNode("Children");
    bchildren.appendChild(tchildren);
    bchildren.setAttribute("class", "children-btn");
    bchildren.onclick = function() { // Note this is a function
        $( this ).toggleClass( "highlight" );
        $('.children-o').toggle();
    };

    suitabledivid.appendChild(bchildren);

//Create Suitable-Youth button

    var byouth = document.createElement("button");
    var tyouth = document.createTextNode("Youth");
    byouth.appendChild(tyouth);
    byouth.setAttribute("class", "youth-btn");
    byouth.onclick = function() { // Note this is a function
        $( this ).toggleClass( "highlight" );
        $('.youth-o').toggle();
    };

    suitabledivid.appendChild(byouth);

//Create Suitable-Adults button

    var badults = document.createElement("button");
    var tadults = document.createTextNode("Adults");
    badults.appendChild(tadults);
    badults.setAttribute("class", "adults-btn");
    badults.onclick = function() { // Note this is a function
        $( this ).toggleClass( "highlight" );
        $('.adults-o').toggle();
    };

    suitabledivid.appendChild(badults);

//Create Suitable-Seniors button

    var bseniors = document.createElement("button");
    var tseniors = document.createTextNode("Seniors");
    bseniors.appendChild(tseniors);
    bseniors.setAttribute("class", "seniors-btn");
    bseniors.onclick = function() { // Note this is a function
        $( this ).toggleClass( "highlight" );
        $('.seniors-o').toggle();
    };

    suitabledivid.appendChild(bseniors);

 //Create Welcome-All button
    var welcomesdivid = document.getElementById("welcomes-div");
    var bwall = document.createElement("button");
    var twall = document.createTextNode("All");
    bwall.appendChild(twall);
    bwall.setAttribute("class", "welcomes-all-btn all-welcome-btn highlight");


    bwall.onclick = function() { // Note this is a function
        $( this ).toggleClass( "highlight" );
        $('.all-welcome-o').toggle();

        if (menid.style.display == 'none'){
            menid.style.display == 'block';
            $('.men-welcome-btn').toggleClass( "highlight" );
            $('.men-o').toggle();
        }
        if (womenid.style.display == 'none'){
            womenid.style.display == 'block';
            $('.women-welcome-btn').toggleClass( "highlight" );
            $('.women-o').toggle();
        }



    };

    welcomesdivid.appendChild(bwall);

//Create Welcomes-Men button
    var bmen = document.createElement("button");
    var tmen = document.createTextNode("Men");
    bmen.appendChild(tmen);
    bmen.setAttribute("class", "men-btn men-welcome-btn");
    //bmen.setAttribute("id", "men-welcome-btn");
    bmen.onclick = function() { // Note this is a function
        $( this ).toggleClass( "highlight" );
        $('.men-o').toggle();

        if (allwelcomeid.style.display == 'none'){
            allwelcomeid.style.display == 'block';
            $('.all-welcome-btn').toggleClass( "highlight" );
            $('.all-welcome-o').toggle();
        }
        if (womenid.style.display == 'none'){
            womenid.style.display == 'block';
            $('.women-welcome-btn').toggleClass( "highlight" );
            $('.women-o').toggle();
        }
    };

    welcomesdivid.appendChild(bmen);

//Create Welcomes-Women button
    var bwomen = document.createElement("button");
    var twomen = document.createTextNode("Women");
    bwomen.appendChild(twomen);
    bwomen.setAttribute("class", "women-btn women-welcome-btn");
    bwomen.onclick = function() { // Note this is a function
        $( this ).toggleClass( "highlight" );
        $('.women-o').toggle();

        if (allwelcomeid.style.display == 'none'){
            allwelcomeid.style.display == 'block';
            $('.all-welcome-btn').toggleClass( "highlight" );
            $('.all-welcome-o').toggle();
        }
        if (menid.style.display == 'none'){
            menid.style.display == 'block';
            $('.men-welcome-btn').toggleClass( "highlight" );
            $('.men-o').toggle();
        }
    };

    welcomesdivid.appendChild(bwomen);

//Create Search button
    var searchdivid = document.getElementById("search-div");
    var bsearch = document.createElement("button");
    var tsearch = document.createTextNode("Search");
    bsearch.appendChild(tsearch);
    bsearch.setAttribute("class", "search-btn");


    bsearch.onclick=function(){
        if (sortbyid.style.display == 'none'){
            sortby += "Name";
        }else{
            sortby += "Near";
        }

        if (hoursid.style.display == 'none'){
            hours += "All";
        }else{
            hours += "Open";
        }

        if (shelterid.style.display == 'none'){
            services += "Shelter,";
        }
        if (foodid.style.display == 'none'){
            services += "Food,";
        }
        if (medicalid.style.display == 'none'){
            services += "Medical,";
        }
        if (hygieneid.style.display == 'none'){
            services += "Hygiene,";
        }
        if (technologyid.style.display == 'none'){
            services += "Technology,";
        }
        if (legalid.style.display == 'none'){
            services += "Legal,";
        }
        //remove last comma
        services = services.substring(0, services.length - 1);

        if (childrenid.style.display == 'none'){
            suitable += "Children,";
        }
        if (youthid.style.display == 'none'){
            suitable += "Youth,";
        }
        if (adultsid.style.display == 'none'){
            suitable += "Adults,";
        }
        if (seniorsid.style.display == 'none'){
            suitable += "Seniors,";
        }

        //remove last comma
        suitable = suitable.substring(0, suitable.length - 1);

        if (allwelcomeid.style.display == 'none'){
            welcome += "All";
        }else if (menid.style.display == 'none'){
            welcome += "Men";
        }else if (womenid.style.display == 'none'){
            welcome += "Women";
        }


        window.location = "/facilities/filter/Search/?latitude=" + latitude + "&longitude="+longitude+sortby+hours+services+suitable+welcome;

    };

    searchdivid.appendChild(bsearch);
}, 500);
</script>
