<section id="alert">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <p><%= link_to "Go back to Alerts", alerts_path, class: "btn btn-link"%> </p>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</section>
