<%= render 'facilities/nav' %>
<h1 style="text-align: center; margin-top: 50px; font-weight: bold">Disclaimer</h1>
<br>
<div class="container">
  <div class="facility-block">
      <p>The contents of this app, including without limitation all data, directions, images,and descriptions are meant to be used for informational purposes only. By using this app, you acknowledge that any reliance on information is done at your own risk. While we take every effort to ensure accurate information, the data is only as accurate as the information provided by service providers.</p>
  </div>
  <hr>
</div>
