<%= render 'facilities/nav' %>

<h1 style="text-align: center; margin-top: 50px; font-weight: bold">About Us</h1>

<div class="container">
  <div class="facility-block">
      <p>Coming Soon.</p><br>
      <p>Credit for the initial concept and app design belong to the incredible folks at <a href="http://www.link-sf.com/#/about">link-sf.com</a></p>
  <hr>
</div>


