/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-select
 *= require jquery.validate
 *= require style
 *= require_self
 *= require_tree .
 */

html, body {
  height: 100%;
}

body {
  font-size: 16px;
}

iframe{
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 90%;
}

/* Navigation */
nav[role="navigation"] {
  padding: 6px 0px;
  border-bottom: 1px solid #ccc;
  background: #f8f8f8;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);

  a.logo{
    display: inline-block;
    text-decoration: none;

    img{
      max-height:42px;
    }
  }

  #search-error {
    display: none !important;
  }
}

ul.breadcrumb {
  color: #333333;
}

a.btn-back {
  display: inline-block;
  padding: 6px 12px;
  vertical-align: middle;

  &:hover, &:focus {
    color: #2a6496;
    text-decoration: underline;
    background-color: transparent;
  }
}

/* Footer */
#footer {
  padding-top: 24px;

  ul {
    li {
     padding: 0;
    }
  }
}

/* General */
.linkvan-icon {
	line-height: 1;
}

section {
  h3.title {
		margin-bottom: 24px;
	}
}

blockquote {
  font-size: 15px;

  footer {
    font-size: 90%;
  }
}

form {
  .form-group-inline {
    margin-bottom: 15px;

    &:before, &:after {
      display: table;
      content: " ";
    }

    &:after {
      clear: both;
    }

    label {
      float: left;
      padding: 4px 12px 0 0;
    }

    input.form-control {
      float: left;
    }

    .btn {
      float: left;
      margin-left: 6px;
    }
  }
}

/* Helper Class */
input.custom-checkbox {
  position: absolute;
  opacity: 0;

  + label {
    position: relative;
    margin-left: 16px;
    padding-left: 4px;
    font-weight: normal;
    cursor: pointer;

    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 2px;
      left: -18px;
      width: 17px;
      height: 17px;
      padding: 1px 0;
      font-size: 10px;
      font-family: "Glyphicons Halflings";
      text-align: center;
      color: #fff;
      border: 1px solid #ccc;
      border-radius: 3px;
      background: #fff;
    }
  }

  &:hover + label:before {
    border-color: #428bca;
  }

  &:checked + label:before {
    content: "\e013";
    border-color: #428bca;
    background: #428bca;
  }
}
