.list-crisis-line {
  list-style: none;
}

.no-underline:link {
  text-decoration: none;
}

.no-underline:visited {
  text-decoration: none;
}

.no-underline:hover {
  text-decoration: none;
}

.no-underline:active {
  text-decoration: none;
}
