// Place all the styles related to the facilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, html{
	width:100%;
	height:100%;
}

iframe{
	position: relative;
 	height: 0;
 	overflow: hidden;
	padding-bottom: 90%;
}

.shelter-colour {
	color: #62919C;
	float: left;
	margin-right: 15px;

}
.food-colour {
	color: #9EA861;
	float: left;
	margin-right: 19px;
}
.medical-colour {
	color: #A97A60;
	float: left;
	margin-right: 15px;
}
.hygiene-colour {
	color: #7E7485;
	float: left;
	margin-right: 15px;
}

.technology-colour {
	color: #CBAA4B;
	float: left;
	margin-right: 15px;
}

.legal-colour {
	color: #8f61a8;
	float: left;
	margin-right: 15px;
}

.crisis-colour {
	color: #e14228;
	float: left;
	margin-right: 11px;
}

.directions-colour {
	color: #60a97a;
	float: left;
	margin-right: 15px;
}

.shelter-colour-index {
	color: #62919C;
	margin-left: 5px;
	margin-right: 5px;

}
.food-colour-index {
	color: #9EA861;
	margin-left: 5px;
	margin-right: 5px;
}
.medical-colour-index {
	color: #A97A60;
	margin-left: 5px;
	margin-right: 5px;
}
.hygiene-colour-index {
	color: #7E7485;
	margin-left: 5px;
	margin-right: 5px;
}

.technology-colour-index {
	color: #CBAA4B;
	margin-left: 5px;
	margin-right: 5px;
}

.legal-colour-index{
	color: #8f61a8;
	margin-left: 5px;
	margin-right: 5px;
}

.chevron-right{
	float: right;
	margin-right: 10px;
	margin-bottom: 0;
}
.chevron-right-filtered{
	float: right;
	margin-right: 10px;
	margin-bottom: 0;
	color: black;
}

nav {
	height: 40px;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 200;
	padding: 0 0 4px;
	border-bottom: 1px solid #DDD;
}

.nav-container{
	min-width:350px; 
	height: 75px;
	margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
    width: 90%;
}

.search-form{
	max-width: 280px;
	margin-top: 8px;
	float: right;
}

#index-main{
	margin-top: 49px;
	margin-left: auto;
	margin-right: auto;
	max-width: 650px;
	width:90%;

	.btn {

		align-items: flex-start;
		box-sizing: border-box;
		-webkit-user-select: none;
		background-color: #fff;
		background-image: -webkit-linear-gradient(white, #EBEBEB);
		border: 1px solid #B8B8B8;
		border-radius: 4px;
		font-size: 20px;
		font-weight: 700;
		text-align: left;
		cursor: pointer;
		padding-top: 12px;
		padding-right: 0px;
		padding-bottom: 0;
		padding-left: 17px;
		width: 100%;
		margin-bottom: 10px;

	}

	.hover {
    	background: #ebebeb;
    	color: white;
  	}

	.highlight {
    	background: #ebebeb;
    	color: white;
  	}

  	.button-text{
  		float: left;
  	}

  	h4{
  		font-family: arial;
		font-size: 14px;
		font-weight: bold;
		color: #666;
		margin-top: 10px;
		text-align: center;

  	}

	h3{
		font-family: arial;
		font-size: 18px;
		font-weight: bold;
		color: #666;
		margin-top: 10px;
	}

	h2{
		font-family: arial;
		font-size: 18px;
		font-weight: 400;
		color: #666;
	}

	h1{
		font-family: arial;
		font-weight: bold;
		color: black;
		font-size: 24px;
	}

	.inset{
		background-color: white;
		border-radius: 6px;
		border: 1px solid #DDD;
		padding: 10px;
		padding-bottom: 2px;
		width: 90%;
		text-align: left;
		box-sizing: border-box;
		margin-bottom: 0px;

	}

	.inset-gmap-dir{
		height: 100%;
		width: 100%;
	}

	.inset-gmap{
		background-color: white;
		border: 1px solid #DDD;
		width: 90%;
		text-align: left;
		box-sizing: border-box;
		margin-bottom: 1px;
		border-radius: 6px;
		margin: 20px 0;
		padding: 0;

		p{
			padding: 8px 8px 0px 12px;
		}
	}

	.inset-call{
		border-radius: 6px 6px 0 0;
		margin-top: 20px;
		background-color: white;
		border: 1px solid #DDD;
		padding: 14px;
		padding-bottom: 2px;
		width: 90%;
		text-align: left;
		box-sizing: border-box;
		margin-bottom: 0;
		border-bottom: 1px solid #DDD;
	}

	.inset-website{
		border-radius: 0;
		background-color: white;
		border: 1px solid #DDD;
		border-top: 0;
		padding: 14px;
		padding-bottom: 2px;
		width: 90%;
		text-align: left;
		box-sizing: border-box;
		margin-bottom: 0;
		border-bottom: 1px solid #DDD;
	}

	#inset-directions{
		border-radius: 0 0 6px 6px ;
		background-color: white;
		border: 1px solid #DDD;
		border-top: 0;
		padding: 14px;
		padding-bottom: 2px;
		width: 90%;
		text-align: left;
		box-sizing: border-box;
		margin-bottom: 20px;
		border-bottom: 1px solid #DDD;
	}

	.description{
		border-radius: 6px;
		margin-top: 20px;
		background-color: white;
		border: 1px solid #DDD;
		padding: 14px;
		padding-top: 0;
		padding-bottom: 2px;
		width: 90%;
		text-align: left;
		box-sizing: border-box;
		margin-bottom: 0;
		border-bottom: 1px solid #DDD;
	}

	.notes{
		margin-top: 20px;
		margin-bottom: 20px;
		background: #f3f3f3;
		padding: 8px;
		border-radius: 6px;

		p {
			margin-top: 10px;
		}
	}

}

#index {

	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	max-width: 650px;
	width:90%;



}

.toggle-group-content{
	margin-top: 53px;
	border-bottom: 1px solid #DCDCDC;
	color: #929292;
	font-size: 15px;
	padding: 10px 4px;
	min-width:350px;
}

.prox{
	text-align: center;
	display: inline-block;
	margin-left: 0 auto;
}

.open{
	text-align: center;
	display: inline-block;
	margin: 0 auto;
}

.options-button{
	text-align: center;
	float: right;
	margin: 0;

}

.toggle-group{
	max-width: 650px;
	min-width: 350px;
	width:90%;
	margin: 0 auto;

	p {
		color: #929292;
	}


	.container-prox{
			width: 49%;
			display: inline-block;
			min-width:120px;
			text-align: center;
		}

		.container-open{
			width: 49%;
			display: inline-block;
			min-width: 93px;
			text-align: center;
		}

	.container-search{
		width: 15%;
		display: inline-block;
		float: right;
		min-width: 75px;

	}
}

.toggle-group-options{
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	max-width: 650px;
	width:90%;

	h1{
		color: #666;
		font-size: 20px;
		font-weight: 400;
		margin: 0;
		margin-bottom: 5px;
		font-family: arial;
	}

	.container-prox{

		margin-bottom: 20px;
		margin-left:0;
		width: 120px;
	}

	.container-open{

		margin-bottom: 20px;
		margin-left: 0;
		width: 93px;

	}

}

#map-canvas{
	width: 100%;
	height: 200px;
	margin: 0;
	padding: 0;
	border-radius: 6px 6px 0 0;
}

#map-canvas-new{
	width: 600px;
	height: 300px;
	margin: 0;
	padding: 0;
	border-radius: 6px;
}

#map-canvas-dir{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}



#panel {
        position: absolute;
        bottom: 15px;
        left: 50%;
        margin-left: -90px;
        z-index: 5;
        background-color: #fff;
        padding: 10px;
        border: 1px solid #DDD;
        font-family: arial;
        color: black;
        box-shadow: 7px 7px 5px #888888;
}

.tog p{
	display: inline;
	float: right;
}

#index-main-options{
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 650px;
	width:90%;

	.btn {

		align-items: flex-start;
		box-sizing: border-box;
		-webkit-user-select: none;
		background-color: #fff;
		background-image: -webkit-linear-gradient(white, #EBEBEB);
		border: 1px solid #B8B8B8;
		border-radius: 4px;
		font-size: 20px;
		font-weight: 700;
		text-align: left;
		cursor: pointer;
		padding-top: 12px;
		padding-right: 0px;
		padding-bottom: 0;
		padding-left: 17px;
		width: 100%;
		margin-bottom: 10px;

	}

	.highlight {
    	background: #286090;
    	color: white;
  	}

  	h1{
  		color: #666;
		font-size: 20px;
		font-weight: 400;
		margin: 0;
		margin-bottom: 5px;
		font-family: arial;
  	}

  	.button-text{
  		float: left;
  	}
}

.children-btn {

		align-items: flex-start;
		box-sizing: border-box;
		-webkit-user-select: none;
		background-color: #fff;
		background-image: -webkit-linear-gradient(white, #EBEBEB);
		border: 1px solid #B8B8B8;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		font-size: 15px;
		font-weight: 700;
		text-align: center;
		cursor: pointer;
		padding-top: 10px;
		padding-right: 2px;
		padding-bottom: 10px;
		padding-left: 2px;
		width: 12.5%;
		margin-bottom: 10px;

	}


.highlight {
    background: #ebebeb;
    color: white;
 }

 .youth-btn {

		align-items: flex-start;
		box-sizing: border-box;
		-webkit-user-select: none;
		background-color: #fff;
		background-image: -webkit-linear-gradient(white, #EBEBEB);
		border: 1px solid #B8B8B8;
		font-size: 15px;
		font-weight: 700;
		text-align: center;
		cursor: pointer;
		padding-top: 10px;
		padding-right: 2px;
		padding-bottom: 10px;
		padding-left: 2px;
		width: 12.5%;
		margin-bottom: 10px;
		border-left: 0;

	}


 .adults-btn {

		align-items: flex-start;
		box-sizing: border-box;
		-webkit-user-select: none;
		background-color: #fff;
		background-image: -webkit-linear-gradient(white, #EBEBEB);
		border: 1px solid #B8B8B8;
		font-size: 15px;
		font-weight: 700;
		text-align: center;
		cursor: pointer;
		padding-top: 10px;
		padding-right: 2px;
		padding-bottom: 10px;
		padding-left: 2px;
		width: 12.5%;
		margin-bottom: 10px;
		border-left: 0;

	}


 .seniors-btn {

		align-items: flex-start;
		box-sizing: border-box;
		-webkit-user-select: none;
		background-color: #fff;
		background-image: -webkit-linear-gradient(white, #EBEBEB);
		border: 1px solid #B8B8B8;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		border-left: 0;
		font-size: 15px;
		font-weight: 700;
		text-align: center;
		cursor: pointer;
		padding-top: 10px;
		padding-right: 2px;
		padding-bottom: 10px;
		padding-left: 2px;
		width: 12.5%;
		margin-bottom: 10px;

	}

.welcomes-all-btn {

		align-items: flex-start;
		box-sizing: border-box;
		-webkit-user-select: none;
		background-color: #fff;
		background-image: -webkit-linear-gradient(white, #EBEBEB);
		border: 1px solid #B8B8B8;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		font-size: 15px;
		font-weight: 700;
		text-align: center;
		cursor: pointer;
		padding-top: 10px;
		padding-right: 2px;
		padding-bottom: 10px;
		padding-left: 2px;
		width: 12.5%;
		margin-bottom: 10px;

	}


.men-btn {

		align-items: flex-start;
		box-sizing: border-box;
		-webkit-user-select: none;
		background-color: #fff;
		background-image: -webkit-linear-gradient(white, #EBEBEB);
		border: 1px solid #B8B8B8;
		border-left: 0;
		font-size: 15px;
		font-weight: 700;
		text-align: center;
		cursor: pointer;
		padding-top: 10px;
		padding-right: 2px;
		padding-bottom: 10px;
		padding-left: 2px;
		width: 12.5%;
		margin-bottom: 10px;

	}

.women-btn {

		align-items: flex-start;
		box-sizing: border-box;
		-webkit-user-select: none;
		background-color: #fff;
		background-image: -webkit-linear-gradient(white, #EBEBEB);
		border: 1px solid #B8B8B8;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		border-left: 0;
		font-size: 15px;
		font-weight: 700;
		text-align: center;
		cursor: pointer;
		padding-top: 10px;
		padding-right: 2px;
		padding-bottom: 10px;
		padding-left: 2px;
		width: 12.5%;
		margin-bottom: 10px;

	}

.top-search-btn{
	border-radius: 5px;

}

.search-btn {

		align-items: flex-start;
		box-sizing: border-box;
		-webkit-user-select: none;
		background-color: #fff;
		background-image: -webkit-linear-gradient(white, #EBEBEB);
		border: 1px solid #B8B8B8;
		border-radius: 25px;
		border-left: 0;
		font-size: 20px;
		font-weight: 700;
		text-align: center;
		cursor: pointer;
		padding-top: 10px;
		padding-right: 2px;
		padding-bottom: 10px;
		padding-left: 2px;
		width: 100%;
		margin-top: 15px;
		margin-bottom: 15px;
		color: #989898;

	}

.search-btn:hover {
  	background: #ebebeb;
 }

#near {
 	border-top-left-radius: 4px;
 	border-bottom-left-radius: 4px;
 }


#yes {
 	border-top-left-radius: 4px;
 	border-bottom-left-radius: 4px;
 }

 #options-id{
 	border-top-left-radius: 4px;
 	border-bottom-left-radius: 4px;
 }


.is-open{
	color: #32CD32;
	float: left;
	font-weight: bold;
}

.is-closed{
	color: #AA0114;
	float: left;
	font-weight: bold;
}

#near-yes {
	a{
		text-decoration: none;
	}
}

#near-no {
	a{
		text-decoration: none;
	}
}
#name-yes {
	a{
		text-decoration: none;
	}
}
#name-no {
	a{
		text-decoration: none;
	}
}

.facility-block{
	color: #ABA9A9;
	font-size: 16px;
}

.facility-block-name{
	color: black;
	font-size: 18px;
}

.admin-options{
	text-align: center;
}


#search_results{
	h3{
		font-family: arial;
		font-size: 18px;
		font-weight: bold;
		color: #666;
		margin-top: 10px;
		text-align: center;
	}
}

.crisis-text{
	color: #A50000;
	font-family: arial;
	font-size: 18px;
	font-weight: bold;

}

.btn-crisis{
	float:right;

	p{
		margin-bottom: 0;
	}

	
}

.logo{
	display: block;
	height: 39px;
	img{
		height:39px;
	}
}


.glyphicon-cutlery{
	font-size: 135%;
}

.glyphicon-warning-sign{
	font-size: 135%;
}

td {
	padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 5px;

	h5{
		font-family: arial;
		font-size: 14px;
		font-weight: bold;
	}
}

.youthinbc p{
	text-align:left;
	float:left;
	display:inline-block;
	color: #ABA9A9;
	font-size: 16px;
}

.youthinbc a{
	font-size: 16px;
}

.container a{
	font-size: 16px;
}