@font-face {
	font-family: 'Project-Linkvan';
	src:font-url('Project-Linkvan.eot');
	src:font-url('Project-Linkvan.eot?#iefix') format('embedded-opentype'),
		font-url('Project-Linkvan.ttf') format('truetype'),
		font-url('Project-Linkvan.woff') format('woff'),
		font-url('Project-Linkvan.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'Project-Linkvan';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 150%;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-Advocacy_linkvan:before {
	content: "\e800";
}
.icon-pets_linkvan:before {
	content: "\e801";
}
.icon-phone_linkvan:before {
	content: "\e802";
}
.icon-shoppingcart_linkvan:before {
	content: "\e803";
}
.icon-sleepshelter_linkvan:before {
	content: "\e804";
}
.icon-transgender_linkvan:before {
	content: "\e805";
}
.icon-hygiene_linkvan:before {
	content: "\e806";
}
.icon-id_linkvan:before {
	content: "\e807";
}
.icon-laundry_linkvan .path1:before {
	content: "\e808";
	color: rgb(0, 0, 0);
}
.icon-laundry_linkvan .path2:before {
	content: "\e809";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-laundry_linkvan .path3:before {
	content: "\e80a";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.icon-laundry_linkvan .path4:before {
	content: "\e80b";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.icon-Medical_linkvan:before {
	content: "\e80c";
}
.icon-home3:before {
	content: "\e80d";
}
.icon-connection:before {
	content: "\e80e";
}
.icon-cart:before {
	content: "\e80f";
}
.icon-display:before {
	content: "\e810";
}

