// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#signup {
	form {
		margin: 24px 0;
	}
}

.edit-form{
		ul{
			list-style-type: none;
			padding-left: 0;
		}
		fieldset{
			display: block;
			margin: 0 auto;
		}
	}
