$icon-Advocacy_linkvan: "\e800";
$icon-pets_linkvan: "\e801";
$icon-phone_linkvan: "\e802";
$icon-shoppingcart_linkvan: "\e803";
$icon-sleepshelter_linkvan: "\e804";
$icon-transgender_linkvan: "\e805";
$icon-hygiene_linkvan: "\e806";
$icon-id_linkvan: "\e807";
$icon-laundry_linkvan-path1: "\e808";
$icon-laundry_linkvan-path2: "\e809";
$icon-laundry_linkvan-path3: "\e80a";
$icon-laundry_linkvan-path4: "\e80b";
$icon-Medical_linkvan: "\e80c";
$icon-home3: "\e80d";
$icon-connection: "\e80e";
$icon-cart: "\e80f";
$icon-display: "\e810";
